@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Bird name</th>
        <th scope="col">Attributes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Parrots</td>
        <td>Parrots, also known as psittacines, are birds with a strong curved beak, upright stance, and clawed feet.
          They are conformed by four families that contain roughly 410 species in 101 genera, found mostly in tropical
          and subtropical regions.</td>
      </tr>
      <tr>
        <td>Pigeon</td>
        <td>Columbidae is a bird family consisting of doves and pigeons. It is the only family in the order
          Columbiformes. These are stout-bodied birds with short necks and short slender bills that in some species
          feature fleshy ceres. They primarily feed on seeds, fruits, and plants.</td>
      </tr>
      <tr>
        <td>Chicken</td>
        <td>The chicken is a domesticated species that arose from the red junglefowl, originally from Southeast Asia.
          They have also partially hybridized with other wild species of junglefowl. Rooster and cock are terms for
          adult male birds, and a younger male may be called a cockerel. A male that has been castrated is a capon.</td>
      </tr>
      <tr>
        <td>Owls</td>
        <td>Owls are birds from the order Strigiformes, which includes over 200 species of mostly solitary and nocturnal
          birds of prey typified by an upright stance, a large, broad head, binocular vision, binaural hearing, sharp
          talons, and feathers adapted for silent flight.</td>
      </tr>
      <tr>
        <td>Duck</td>
        <td>Duck is the common name for numerous species of waterfowl in the family Anatidae. Ducks are generally
          smaller and shorter-necked than swans and geese, which are members of the same family.</td>
      </tr>
      <tr>
        <td>Hummingbirds</td>
        <td>Hummingbirds are birds native to the Americas and comprise the biological family Trochilidae. With about 366
          species and 113 genera, they occur from Alaska to Tierra del Fuego, but most species are found in Central and
          South America.</td>
      </tr>
      <tr>
        <td>Woodpeckers</td>
        <td>Woodpeckers are part of the bird family Picidae, which also includes the piculets, wrynecks and sapsuckers.
          Members of this family are found worldwide, except for Australia, New Guinea, New Zealand, Madagascar and the
          extreme polar regions. </td>
      </tr>
      <tr>
        <td>Penguins</td>
        <td>Penguins are a group of aquatic flightless birds from the order Sphenisciformes of the family Spheniscidae.
          They live almost exclusively in the Southern Hemisphere: only one species, the Galápagos penguin, is found
          north of the Equator.</td>
      </tr>
      <tr>
        <td>Indian peafowl</td>
        <td>The Indian peafowl, also known as the common peafowl, and blue peafowl, is a peafowl species native to the
          Indian subcontinent. It has been introduced to many other countries.</td>
      </tr>
      <tr>
        <td>Crow</td>
        <td>A crow is a bird of the genus Corvus, or more broadly a synonym for all of Corvus. The word "crow" is used
          as part of the common name of many species. The related term "raven" is not linked scientifically to any
          certain trait, but is rather a general grouping for larger species of Corvus.</td>
      </tr>
    </tbody>
  </table>
</div>
